<a href="https://colab.research.google.com/github/gustavoalcantara/geobr_python/blob/main/br_inpe_prodes_municipio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
# criando uma lista
y = pd.read_csv('desmatamento_2021.txt', sep='\t')
x = pd.read_csv('desmatamento_all.txt', sep='\t')

In [ ]:
#saude['code_state'] = saude['code_state'].astype(np.int64)
y['ano'] = y['ano'].astype(np.int64)
y['id_municipio'] = y['id_municipio'].astype(np.int64)
x['ano'] = x['ano'].astype(np.int64)
x['id_municipio'] = x['id_municipio'].astype(np.int64)

In [ ]:
x=x.append(y)

In [ ]:
x=x.sort_values(['id_municipio', 'ano'])

In [ ]:
print(x)

        ano  id_municipio  area  desmatado  incremento  floresta  nuvem  \
0      2000       1100015  7137     1761.1         NaN    3639.6    0.0
1      2001       1100015  7137     1834.2        73.1    3566.5    0.0
2      2002       1100015  7137     1948.9       114.7    3451.8    0.0
3      2003       1100015  7137     2014.9        66.0    3385.8    0.0
4      2004       1100015  7137     2092.0        77.1    3308.7    0.0
...     ...           ...   ...        ...         ...       ...    ...
15956  2017       5108956  5277     2414.3        21.0    2843.1    0.0
15957  2018       5108956  5277     2428.2        17.3    2829.2    0.0
15958  2019       5108956  5277     2468.2        40.0    2789.2    0.0
15959  2020       5108956  5277     2491.2        23.0    2766.2    0.0
93     2021       5108956  5277     2532.9        41.7    2724.5    0.0

       nao_observado  nao_floresta  hidrografia
0                6.1        1708.0         22.2
1                6.1        1708.0         22.2
2                6.1        1708.0         22.2
3                6.1        1708.0         22.2
4                6.1        1708.0         22.2
...              ...           ...          ...
15956            0.0          12.9          6.7
15957            0.0          12.9          6.7
15958            0.0          12.9          6.7
15959            0.0          12.9          6.7
93               0.0          12.9          6.7

[16720 rows x 10 columns]

In [ ]:
#mesorregiao.to_csv('mesorregiao.csv', sep=',', index=False, header=True)
x.to_csv('desmatamento_municipio.csv', sep=',', index=False, header=True)

In [ ]:
x = pd.read_csv('desmatamento_municipio.csv', sep=',')

In [ ]:
x

,ano,id_municipio,area,desmatado,incremento,floresta,nuvem,nao_observado,nao_floresta,hidrografia
0,2000,1100015,7137,1761.1,NaN,3639.6,0.0,6.1,1708.0,22.2
1,2001,1100015,7137,1834.2,73.1,3566.5,0.0,6.1,1708.0,22.2
2,2002,1100015,7137,1948.9,114.7,3451.8,0.0,6.1,1708.0,22.2
3,2003,1100015,7137,2014.9,66.0,3385.8,0.0,6.1,1708.0,22.2
4,2004,1100015,7137,2092.0,77.1,3308.7,0.0,6.1,1708.0,22.2
...,...,...,...,...,...,...,...,...,...,...
16715,2017,5108956,5277,2414.3,21.0,2843.1,0.0,0.0,12.9,6.7
16716,2018,5108956,5277,2428.2,17.3,2829.2,0.0,0.0,12.9,6.7
16717,2019,5108956,5277,2468.2,40.0,2789.2,0.0,0.0,12.9,6.7
16718,2020,5108956,5277,2491.2,23.0,2766.2,0.0,0.0,12.9,6.7
16719,2021,5108956,5277,2532.9,41.7,2724.5,0.0,0.0,12.9,6.7

In [ ]:
#for ano in [*range(2005, 2020)]:
  for mes in [*range(1, 13)]:
    particao = output + f'table_id/ano={ano}/mes={mes}'
    if not os.path.exists(particao):
      os.makedirs(particao)

In [ ]:
for ano in [*range(2000, 2022)]:
  particao = f'desmatamento_municipio/ano={ano}'
  if not os.path.exists(particao):
    os.makedirs(particao)

In [ ]:
#for ano in [*range(2005, 2020)]:
  for mes in [*range(1, 13)]:
    df_particao = df[df['ano'] == ano].copy() # O .copy não é necessário é apenas uma boa prática
    df_particao = df_particao[df_particao['mes'] == mes]
    df_particao.drop(['ano', 'mes'], axis=1, inplace=True) # É preciso excluir as colunas utilizadas para partição 
    particao = output + f'table_id/ano={ano}/mes={mes}/tabela.csv'
    df_particao.to_csv(particao, index=False, encoding='utf-8', na_rep='')

In [ ]:
for ano in [*range(2000, 2022)]:
  df_particao = x[x['ano']==ano].copy()
  df_particao.drop(['ano'], axis=1, inplace=True)
  particao = f'desmatamento_municipio/ano={ano}/desmatamento_municipio.csv'
  df_particao.to_csv(particao, index=False, encoding = 'utf-8', na_rep='')